{% extends 'base.html' %}
{% load static %}
{% block title %}Return Policy{% endblock title %}

{% block body %} 
<div  id="privacy" style="font-size:1.1em;color:var(--txtclr);width: 90%;max-width: 90%;margin: auto;line-height: 1.8;text-align: justify;" class="m-top">
<h1>Right of withdrawal</h1>
<br>

<h3>Right of withdrawal</h3>
<p>Right of withdrawal You have the right to withdraw from this contract within fourteen days without giving any reason. The cancellation period is fourteen days from the day on which you or a third party named by you, who is not the carrier, has or has taken possession of the goods.
    In order to exercise your right of withdrawal, you must inform us (Ritik Deswal, ritikgtr77@gmail.com) by means of a clear declaration (e.g. a Letter, fax or email) of your decision to withdraw from this contract. You can use the attached model withdrawal form for this purpose, but this is not mandatory. You can also electronically fill out and submit the model withdrawal form or another clear declaration on our website 21outlaws.com. If you make use of this option, we will send you a confirmation of receipt of such a revocation immediately (e.g. by email).
    
    In order to meet the cancellation deadline, it is sufficient for you to send your notification that you are exercising your right of cancellation before the cancellation period has expired.</p>
<br>
<h3>Consequences of the withdrawal</h3>
<p>If you withdraw from this contract, we will have given you all payments that we have received from you, including delivery costs (with the exception of the additional costs that result from choosing a different type of delivery than the cheapest standard delivery offered by us have), to be repaid immediately and at the latest within fourteen days from the day on which we received notification of your cancellation of this contract. For this repayment, we will use the same means of payment that you used for the original transaction, unless something else was expressly agreed with you; In no case will you be charged any fees for this repayment. We can refuse repayment until we have received the goods back or until you have provided evidence that
    You must return or hand over the goods to us immediately and in any case no later than fourteen days from the date on which you informed us of the cancellation of this contract. The deadline is met if you send the goods before the period of fourteen days has expired. You bear the direct costs of returning the goods. You only have to pay for any loss in value of the goods if this loss in value is due to handling of the goods that is not necessary to check the nature, properties and functionality of the goods.</p>
<br>
<h3>Special notes</h3>
<p>If you finance this contract with a loan and later revoke it, you are no longer bound by the loan contract, provided both contracts form an economic unit. This is to be assumed in particular if we are your lender at the same time or if your lender makes use of our cooperation with regard to financing. If we have already received the loan when the revocation takes effect, your lender will assume our rights and obligations under the financed contract in relation to you with regard to the legal consequences of the revocation or return. The latter does not apply if the subject of the present contract is the acquisition of financial instruments (e.g. securities, foreign exchange or derivatives).

    If you want to avoid a contractual obligation as far as possible, make use of your right of withdrawal and also withdraw from the loan agreement if you also have a right of withdrawal.</p>

</div>
{% endblock body %}