{% extends 'base.html' %}
{% load static %}
{% block title %}Shipping policy{% endblock title %}

{% block body %} 
<div  id="privacy" style="font-size:1.1em;color:var(--txtclr);width: 90%;max-width: 90%;margin: auto;line-height: 1.8;text-align: justify;" class="m-top">
    <h1>SHIPPING </h1>
    <p>Delivery times are quoted in business days and are estimates only. Most orders are processed and shipped within 5 business days (excluding weekends and holidays). Shipping times may very, depending on the country During sale periods, please allow additional time to receive your order. <br>
        27 Shifterz, Ritik Deswal is not responsible for any shipping deliveries that may be affected by customs, natural occurrences, or air and ground transportation strikes or delays, nor any extra fees, customs or back end charges once the package has exited the Germany.
        <br>
        To ensure that your package is properly delivered and that you receive your package within the time frames we advertise, please make sure that your address is correctly entered and includes all relevant and/or required information. The use of correct abbreviations, street numbers, building or apartment numbers, and route information (if applicable) is critical for ensuring timely delivery. We do not take responsibility for lost, misplaced, or incorrectly delivered shipments if the address information provided is incorrect or incorrectly entered at the time of purchase. Ritik Deswal is not responsible for reaching out to the customer, nor pay the additional charges to re-ship the package.
    </p> <br>
    <h1>CURRENCY CONVERSIONS</h1>
    <p>Currency conversions are estimates only and the total amount you are charged will depend on the exchange rate and processing fees your bank charges you. Your order total will display and processed in USD/EUR at checkout (even where you are using our currency converter to view prices in your local currency) and all order confirmation emails and invoices will show USD. The conversion rate you are charged will be decided by your bank. While most exchange rate systems are very similar, we can't guarantee the exchange rate we are using to display an approximate price to you on our site will be the same exchange rate that your bank uses when processing your transaction.</p> <br>
    <h1>INTERNATIONAL TAXES & DUTIES</h1>
    <p> You may be charged import duties and taxes by your local customs authority when your parcel is received into your country. Duties rates vary depending on the value of the goods, what they are made of and where they are made. Importantly, all countries have different rules regarding this so we are unable to tell you exactly what duties you may be required to pay as this is determined on import by local customs officials. You will not always be required to pay duties or import tax, but it is important that you make yourself aware of the duties that apply in your country in case you are charged to avoid any surprises.</p>
<br>
    <h1>EDITING ORDERS & ADDRESSES</h1>
    <p>Changes to items on orders, shipping addresses or names are not possible once an order has been processed. Please check your billing and shipping information carefully before you place your order as our dispatch team processes orders quickly.</p>
<br>
    <h1>CUSTOMS HOLDS</h1>
    <p>Estimated delivery times do not include customs delays or holds. In the unlikely event that you have not received your parcel within a delivery time estimated above and you have not been contacted regarding your delivery by one of our shipping couriers, please get in touch with us and we will investigate your delivery on your behalf.</p>
<br>
    <h1>UNDELIVERABLE PACKAGES</h1>
    <p>If your package does not successfully deliver and is sent back to 21 Outlaws, it is typically due to insufficient address information. Your package will be returned and “Returned to Sender” will be stated on your tracking information. This can happen if: <br>
        - The shipping address does not exist<br>
        - The shipping address is misspelled<br>
        - The shipping address is missing information (i.e. apt/bldg/suite number)<br>
        - The carrier is unable to safely deliver the package<br>
        - The addressee has moved<br>
        - The addressee has refused the package<br>
        Ritik Deswal and DHL are not responsible for incorrect addresses inputted by the customers. If a customer's package ends up getting sent back to Ritik Deswal, the customer will need to cover the additional shipping fee for Ritik Deswal to re-ship the package. <br>
Ritik Deswal is not responsible for reaching out to the customer, nor pay the additional charges to re-ship the package. However, if Ritik Deswal does reach out to the customer to correct their insufficient address before processing their order, and the customer does not respond within 72 hours, Ritik Deswal will cancel the order.
    </p>
</div>
{% endblock body %}