{% extends 'base.html' %}
{% load static %}
{% block title %}Term of Use{% endblock title %}

{% block body %} 
<div  id="privacy" style="font-size:1.1em;color:var(--txtclr);width: 90%;max-width: 90%;margin: auto;line-height: 1.8;text-align: justify;" class="m-top">
    <h1>Conditions</h1>
    <h1>1. Scope</h1>
    <p>The following terms and conditions apply to all orders via our online shop. Our online shop is aimed exclusively at consumers.

        A consumer is any natural person who concludes a legal transaction for purposes that are predominantly neither commercial nor their independent professional activity. An entrepreneur is a natural or legal person or a legal partnership who, when concluding a legal transaction, acts in the exercise of their commercial or independent professional activity.</p>
    <h1>2. Contractual partner, conclusion of contract, correction options</h1>
    <p>The purchase contract is concluded with Louis Leitl.

        By placing the products in the online shop, we are submitting a binding offer to conclude a contract for these items. You can initially place our products in the shopping cart without obligation and correct your entries at any time before submitting your binding order by using the correction aids provided and explained in the order process. The contract is concluded when you click on the order button to accept the offer for the goods in the shopping cart. Immediately after submitting the order, you will receive another confirmation by email.</p>

        <h1>3. Contract language, contract text storage</h1>
        <p>The language (s) available for the conclusion of the contract: German, English

            We save the contract text and send you the order data and our terms and conditions in text form. For security reasons, the text of the contract is no longer accessible on the Internet.</p>
        <h1>4. Terms of delivery</h1>
        <p>We deliver free of charge within Germany.

            We only deliver by post. Unfortunately, a self collection of the product is not possible.</p>

        <h1>5. Payment</h1>
        <p>The following payment methods are generally available in our shop:
                <br>
            <strong>credit card</strong> 
            When you place your order, you provide your credit card details. After your legitimation as the legal cardholder, the payment transaction will be carried out automatically and your card will be charged.</p>
            <p> <strong>PayPal</strong> 
                In the ordering process you will be redirected to the website of the online provider PayPal. In order to be able to pay the invoice amount via PayPal, you must be registered there or first register, legitimize with your access data and confirm the payment instruction to us. After placing the order in the shop, we ask PayPal to initiate the payment transaction. The payment transaction is carried out automatically by PayPal immediately afterwards. You'll get more information during the ordering process.</p>
                <p><strong>Apple Pay</strong>
                    In order to be able to pay the invoice amount via Apple Pay, you must use the "Safari" browser, be registered with the service provider Apple, have activated the Apple Pay function, identify yourself with your access data and confirm the payment order. The payment transaction is carried out immediately after the order has been placed. You'll get more information during the ordering process.
                    
                    </p>
                    <p><strong>Google Pay</strong>
                        In order to be able to pay the invoice amount via Google Pay, you must be registered with the service provider Google, have activated the Google Pay function, identify yourself with your access data and confirm the payment instruction. The payment transaction is carried out immediately after the order has been placed. You'll get more information during the ordering process.</p>

        <h1>6. Retention of title</h1>
        <p>The goods remain our property until full payment.</p>

        <h1>7. Transport damage</h1>
        <p>If goods are delivered with obvious transport damage, please report such errors to the deliverer as soon as possible and contact us immediately. Failure to lodge a complaint or to contact you has no consequences whatsoever for your legal claims and their enforcement, in particular your warranty rights. However, they help us to assert our own claims against the carrier or the transport insurance.</p>

        <h1>8. Warranties and Guarantees</h1>
        <p>Unless expressly agreed otherwise below, the statutory right to liability for defects applies.
            The following applies to used goods: if the defect occurs one year after delivery of the goods, claims for defects are excluded. Defects that occur within one year of delivery of the goods can be asserted within the statutory limitation period of two years from delivery of the goods.
            The above restrictions and shortened deadlines do not apply to claims due to damage caused by us, our legal representatives or vicarious agents <br>
            • in the event of injury to life, limb or health <br>
            • in the event of willful or grossly negligent breach of duty and malice <br>
            • essential in violation of contractual obligations, the fulfillment of the proper execution of the contract in the first place and may rely on their compliance with the contractor (cardinal obligations) <br>
            • as part of a warranty promise, if agreed or 
            if the scope of the Product Liability Act is opened <br>
            •Information on any additional guarantees that may apply and their precise conditions can be found with the product and on special information pages in the online shop.</p>

        <h1>9. Liability</h1>
        <p>We are always unrestrictedly liable for claims due to damage caused by us, our legal representatives or vicarious agents<br>
            • in the event of injury to life, limb or health <br>
            • in the event of willful or grossly negligent breach of duty <br>
            • in the case of guarantee promises, if agreed, or <br>
            • insofar the scope of the Product Liability Act has been opened. <br>
            In the event of a breach of essential contractual obligations, the fulfillment of which makes the proper execution of the contract possible in the first place and on whose compliance the contractual partner may regularly rely (cardinal obligations) through slight negligence on the part of us, our legal representatives or vicarious agents, the amount of liability is foreseeable at the time the contract was concluded Damage limited, the occurrence of which can typically be expected.
            Otherwise claims for damages are excluded.</p>
        
        <h1>10. Dispute Resolution</h1>
        <p>The European Commission provides a platform for online dispute resolution, which you can find here . We are neither obliged nor willing to participate in a dispute settlement procedure before a consumer arbitration board.</p>

        </div>
        {% endblock body %}